# dependencies
node_modules/

# builds
client/dist/
client/.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env
.env
server/.env
client/.env
client/.env.*
server/.env.*

# database
server/database/*.db

# uploads (keep folder with .gitkeep)
server/uploads/*
!server/uploads/.gitkeep

# OS / editor
.DS_Store
.vscode/
